<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700|Oswald:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/app.css">
  </head>
  <body>
    <div class="simplenav text-center">
      <a href="/"><img id="logo" src="{{ site.github.url }}/assets/img/logo.svg"/></a>
    </div>

    <div class="actionBanner">
      <div class="row">
        <div class="large-12 column">
          <div class="insideBanner">
            <img class="float-center" src="{{ site.github.url }}/assets/img/me_illustration.png" width="120px">
            <div class="mainBannerHeader">Hello I'm Matt Riel</div>
              <div class="typedCustom">A
                <span id="typedJS"></span>
              </div>
          </div>
        </div>
      </div>
    </div>

    {{ content }}

    <script src="{{ site.github.url }}/assets/js/app.js"></script>
  </body>
</html>
